
/* Your CSS Code here. */
.holder{
            display: grid;
            grid-template-columns: 200px 200px;
            grid-template-rows: 200px 200px;
        }
        .item-1{
            background-color: rebeccapurple;
        }
        .item-2{
            background-color: red;
        }
        .item-3{
            background-color: green;
        }
        .item-4{
            background-color: yellow;
        }